<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Timelimit</th>
      <th>Format</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @club.tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.title %></td>
        <td><%= tournament.timelimit %></td>
        <td><%= tournament.format %></td>
        <td><%= link_to 'Show', club_tournament_path([@club, tournament]) %></td>
        <td><%= link_to 'Edit', edit_club_tournament_path([@club, tournament]) %></td>
        <td><%= link_to 'Destroy', club_tournament_path([@club, tournament]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New tournament', new_club_tournament_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
