<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<div class="col-md-6">
  <h2>Tournaments</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Timelimit</th>
        <th>Format</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @club.tournaments.each do |tournament| %>
        <tr>
          <td><%= tournament.title %></td>
          <td><%= tournament.timelimit %></td>
          <td><%= tournament.format %></td>
          <td><%= link_to 'Show', club_tournament_path([@club, tournament]) %></td>
          <td><%= link_to 'Edit', edit_club_tournament_path([@club, tournament]) %></td>
          <td><%= link_to 'Destroy', club_tournament_path([@club, tournament]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New tournament', new_user_club_tournament_path(current_user, @club) %> |
  <%= link_to 'Edit', edit_user_club_path(current_user, @club) %> |
  <%= link_to 'Back', user_clubs_path(current_user) %>
</div>

<div class="col-md-6">
  <h2>Players</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @club.players.each do |player| %>
        <tr>
          <td><%= player.firstname %></td>
          <td><%= player.lastname %></td>
          <td><%= link_to 'Show', club_player_path([@club, player]) %></td>
          <td><%= link_to 'Edit', edit_club_player_path([@club, player]) %></td>
          <td><%= link_to 'Destroy', club_player_path([@club, player]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New player', new_user_club_player_path(current_user, @club) %> |
  <%= link_to 'Edit', edit_user_club_path(current_user, @club) %> |
  <%= link_to 'Back', user_clubs_path(current_user) %>
</div>