<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tournament.title %>
</p>

<p>
  <strong>Timelimit:</strong>
  <%= @tournament.timelimit %>
</p>

<p>
  <strong>Format:</strong>
  <%= @tournament.format %>
</p>

<%= link_to 'Edit', edit_club_tournament_path(@tournament) %> |
<%= link_to 'Back', club_tournaments_path(@club) %>
