<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @player.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>


<%= link_to 'Edit', edit_club_player_path(@club, @player) %> |
<%= link_to 'Back', club_path(@club) %>
