<%= form_for([@club, match]) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_a_id %>
    <%= f.number_field :player_a_id %>
  </div>

  <div class="field">
    <%= f.label :player_b_id %>
    <%= f.number_field :player_b_id %>
  </div>

  <div class="field">
    <%= f.label :result %>
    <%= f.text_field :result %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
