<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Player a</th>
      <th>Player b</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player_a_id %></td>
        <td><%= match.player_b_id %></td>
        <td><%= match.result %></td>
        <td><%= link_to 'Show', club_match_path(@club, match) %></td>
        <td><%= link_to 'Edit', edit_club_match_path(@club, match) %></td>
        <td><%= link_to 'Destroy', club_match_path(@club, match), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_club_match_path %>
